#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Hello ${user.name}!</h1>
#{if toaddapplist.size()}
    <h3>Apps for you:<h3>
#{form}
    #{list toaddapplist: applist, as:'app'}
            <div class="app">
                <div class="app-title">
                    <h4>${applist.indexOf(app)}.${app.name}</h4>
                </div>
                <div class="app-info">
                    ${app.information}
                </div>
                 <div class="app-add">
                      <input type = "checkbox" name = "apps" value = app.id>  
                 </div>             
            </div>
    #{/list}
#{/form}
#{/if}
#{else}
    <h3>There are no apps for you!<h3>
#{/else}
